:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --text-footer-color: rgba(255, 255, 255, 0.6);
  --font-icon-footer: rgba(255, 255, 255, 0.1);
  --text-white: #ffffff;

  --primary-bkg-color: #e5e5e5;
  --footer-bkg-color: #2f303a;
  --secondery-bkg-color: #f5f4fa;
  --font-bkg-color: #2f303a;
  --font-bkg-white-color: #ffffff;
  --font-icon: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
/* Утилиты  */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link-all {
  text-decoration: none;
}

.btn {
  width: 200;
  display: inline-block;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Шапка сайта */

.page-header {
  background-color: var(--font-bkg-white-color);
  border: 1px solid #ececec;
}

.logo,
.studio {
  margin-top: 24px;
  margin-bottom: 25px;
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  text-decoration: underline;
}

.studio {
  margin-right: 93px;
  color: var(--primary-text-color);
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.icon-mail:hover,
.icon-mail:focus {
  fill: var(--accent-color);
}
.icon-tel:hover,
.icon-tel:focus {
  fill: var(--accent-color);
}

/* Main-nav */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--font-bkg-header-color);
}

.logo-nav {
  display: flex;
}

/* Site-nav */

.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-link.current::after {
  opacity: 1;
}

.cont-nav {
  display: flex;
  align-items: baseline;
  margin-left: auto;
}

.cont-nav .item + .item {
  margin-left: 50px;
}

.cont-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .site-link:hover,
.cont-nav .link:hover,
.site-nav .site-link:focus,
.cont-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .site-link.current {
  color: var(--accent-color);
}

/* ----------Hero------------------ */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images1/Img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  width: 696px;
  color: var(--text-white);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;

  color: var(--text-white);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
}

/* /-------------*Soft skils*--------------/  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.skils {
  padding-top: 94px;
  padding-bottom: 94px;
}

.skils-title {
  margin: 0;
}

.skils-examples {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.skils-examples .skils-item:not(:last-child) {
  margin-right: 30px;
}

.skils-examples .title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.skils-examples p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.skils-item::before {
  display: block;
  content: "";
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondery-bkg-color);
  margin-bottom: 55px;
  padding: 30px 0;
}

.skils-item:nth-child(1)::before {
  background-image: url(../icon/antenna.svg);
}

.skils-item:nth-child(2)::before {
  background-image: url(../icon/clock.svg);
}

.skils-item:nth-child(3)::before {
  background-image: url(../icon/diagram.svg);
}

.skils-item:nth-child(4)::before {
  background-image: url(../icon/astronaut.svg);
}

/* /----------------* Чем мы занимаемся *------------/  */

.works {
  padding-bottom: 94px;
}

.works-img {
  display: flex;
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

.works-title,
.commands-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-overlay {
  position: relative;
}

.work-overlay-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-white);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;
}

/* Команда */

.commands {
  background-color: var(--secondery-bkg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.command-img {
  display: flex;
}

.command-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-item:not(:last-child) {
  margin-right: 30px;
  background-color: var(--font-bkg-white-color);
}
.command-title {
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  background-color: var(--font-bkg-white-color);
}
.command-text {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  background-color: var(--font-bkg-white-color);
}

.soc-list {
  display: flex;
  justify-content: center;
}
.soc-item {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}

.command-link-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--font-bkg-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-item + .soc-item {
  margin-left: 10px;
}

.icon-soc {
  width: 20px;
  height: 20px;
  fill: var(--font-icon);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.command-link-icon:hover,
.command-link-icon:focus {
  background-color: var(--accent-color);
}

.command-link-icon:hover .icon-soc,
.command-link-icon:focus .icon-soc {
  fill: var(--text-white);
}

/* -------Наши работы--------- */

.filtre {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--font-bkg-white-color);
}

.filtre-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 56px;
}

.filtre-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  border: none;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-text-color);

  background-color: var(--secondery-bkg-color);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:hover,
.portfolio:focus {
  background-color: var(--accent-color);
  color: var(--text-white);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  box-sizing: border-box;
  width: 370px;
  background-color: var(--font-bkg-header-color);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  box-shadow: 0;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flex-element:hover,
.flex-element:focus {
  border: 1px solid var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overley {
  position: relative;
  overflow: hidden;
}

.overley-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:hover .overley-text {
  transform: translateY(0);
}
.text {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--text-white);
}

.image-title {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
  text-decoration: none;

  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-title:hover,
.image-title:focus {
  text-decoration: underline 2px var(--accent-color);
}

.image-text {
  margin-bottom: 20px;
  margin-left: 24px;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: var(--title-text-color);

  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-text:hover,
.image-text:focus {
  text-decoration: underline 2px var(--accent-color);
}

/*-----------------Постоянные клиенты---------------- */

.klient {
  padding-top: 94px;
  padding-bottom: 94px;
}

.klients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;

  color: var(--primary-text-color);
}
.klients-list {
  display: flex;
  justify-content: center;
}

.klients-item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--font-icon);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.klients-item + .klients-item {
  margin-left: 30px;
}

.klients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--font-bkg-white-color);
}

.klients-icon {
  fill: var(--font-icon);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.klients-link:hover .klients-icon,
.klients-link:focus .klients-icon {
  fill: var(--accent-color);
}

.klients-item:hover,
.klients-item:focus {
  border: 1px solid var(--accent-color);
}

/*--------------------- Подвал------------------------ */

.footer {
  background-color: var(--footer-bkg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
}
.main-footer {
  display: flex;
  align-items: baseline;
}

.logo-footer,
.studio-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;

  color: var(--text-white);

  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer:hover,
.logo-footer:focus {
  text-decoration: underline;
}

.logo-footer {
  color: var(--accent-color);
}

.footer-add {
  margin-top: 20px;
  margin-bottom: 9px;
  font-family: inherit;
  font-style: normal;
  color: var(--text-white);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-add:hover,
.footer-add:focus {
  text-decoration: underline 2px var(--accent-color);
}

.footer-link a {
  font-family: inherit;
  color: var(--text-footer-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link a:hover,
.footer-link a:focus {
  text-decoration: underline 2px var(--accent-color);
}

.mail {
  margin-bottom: 9px;
}

.icons {
  display: flex;
  margin-left: 70px;
}

.network-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-list {
  display: flex;
  justify-content: center;
  margin-left: 70px;
  margin-right: 93px;
}

.footer-item {
  width: 44px;
  height: 44px;
}

.link-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--font-icon-footer);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item + .footer-item {
  margin-left: 10px;
}

.icon-soc-foot {
  width: 20px;
  height: 20px;
  fill: var(--text-white);
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--accent-color);
}
.signup_form {
  display: flex;
}

.signup-mail {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 0 15px 16px;
  margin-right: 12px;

  width: 358px;
  height: 50px;

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--footer-bkg-color);
}

.footer-button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  height: 50px;

  color: var(--text-white);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
}

.footer-button {
  display: flex;
  align-items: baseline;
}

.icon-send-foot {
  fill: var(--text-white);
  margin-left: 10px;
}

/* --------Модальное окно - Форма------ */

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;

  transition: opacity 400ms, visibility 400ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(180deg);
  transition: transform 600ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--font-bkg-white-color);
  border-radius: 4px;
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(0);
  transform: translate(-50%, -50%);
  transition: 600ms;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #999999;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;

  color: var(--primary-text-color);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 14px;
  padding-right: 14px;
}

/* .modal-form-input:hover,
.modal-form-input:focus {
  border-color: var(--accent-color); */
}

.lable-text {
  display: block;
  font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;

color: var(--title-text-color);
}

.modal-form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;

}