.footer {
  background-color: var(--footer-bkg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
}
.main-footer {
  display: flex;
  align-items: baseline;
}

.logo-footer,
.studio-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;

  color: var(--text-white);

  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer:hover,
.logo-footer:focus {
  text-decoration: underline;
}

.logo-footer {
  color: var(--accent-color);
}

.footer-add {
  margin-top: 20px;
  margin-bottom: 9px;
  font-family: inherit;
  font-style: normal;
  color: var(--text-white);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-add:hover,
.footer-add:focus {
  text-decoration: underline 2px var(--accent-color);
}

.footer-link a {
  font-family: inherit;
  color: var(--text-footer-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link a:hover,
.footer-link a:focus {
  text-decoration: underline 2px var(--accent-color);
}

.mail {
  margin-bottom: 9px;
}

.icons {
  display: flex;
  margin-left: 70px;
}

.network-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-list {
  display: flex;
  justify-content: center;
  margin-left: 70px;
  margin-right: 93px;
}

.footer-item {
  width: 44px;
  height: 44px;
}

.link-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--font-icon-footer);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item + .footer-item {
  margin-left: 10px;
}

.icon-soc-foot {
  width: 20px;
  height: 20px;
  fill: var(--text-white);
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--accent-color);
}
.signup_form {
  display: flex;
}

.signup-mail {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 0 15px 16px;
  margin-right: 12px;

  width: 358px;
  height: 50px;

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--footer-bkg-color);
}

.footer-button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  height: 50px;

  color: var(--text-white);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
}

.footer-button {
  position: relative;
}

.icon-send-foot {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  fill: var(--text-white);
}
